.cont_fav{
    width: 520px;
    background: #555;
    color:#fff;
    top:1200px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
    border: 5px outset #292727;  /* Grosor del Borde */  /* Color del Borde */
    text-shadow: -1px -1px #292727;
    
    }
    
    
 ul.foto{
        display: inline;
        color: aquamarine;
        width: 970px;
        margin: 25 10 0 10px;
    }
    ul.foto li{
        display: inline;
    }
    ul.foto a{
        display: inline;
        float: left;
        margin: 15px 15px 15px 15px;
        text-align: center;
        columns: #333333;
        font-size: 10px;
        box-shadow: 10px 3px 6px rgba(0,100,100,.25);
        transform: rotate(2deg);
    }
    ul.foto img{
        display: block;
        width: 450px;
        height: 200px;
        margin-bottom: 12px;
    }
 
    ul.foto li:nth-child(3n) a{
        transform: none;
        position: relative;
        top: -5px;
    }
    ul.foto li:nth-child(5n) a{
        transform: rotate(-5deg);
        position: relative;
        top: -5px;
    }
    ul.fotos li a:hover{
        transform: scale(1.25);
        box-shadow: 0 3px 6px rgba(0,0,0,.5);
        position: relative;
    }
    ul.foto i{
        display: inline;
        float: left;
        margin: 15px 15px 15px 15px;
        text-align: center;
        columns: #333333;
        font-size: 10px;
        box-shadow: 10px 3px 6px rgba(0,100,100,.25);
        transform: rotate(2deg);
    }
    ul.foto i:hover{
        transform: scale(1.50);
        box-shadow: 0 3px 6px rgba(0,0,0,.5);
        position: relative;
    }