.con{
    width: 75%;
      height: auto;
      background: #555;
      color:#fff;
      left: 50%;
      margin-top: 600px;
      position: absolute;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
      padding: 20px 20px;
      border-radius: 15px;
      border: 5px outset #292727;  /* Grosor del Borde */  /* Color del Borde */
      text-shadow: -1px -1px #292727;

}

 @media screen and (max-width: 480px) {
    table {
        width:25%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #2e2c2c;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
    ul.fotos img{
        display: block;
        width: 50%;
        height: 50%;
        margin-bottom: 12px;
    }
}

ul.fotos{
    display: inline;
    color: aquamarine;
    width: 970px;
    margin: 25 10 0 10px;
}
ul.fotos li{
    display: inline;
}
ul.fotos a{
    display: inline;
    float: left;
    margin: 15px 15px 15px 15px;
    text-align: center;
    columns: #333333;
    font-size: 10px;
    box-shadow: 10px 3px 6px rgba(0,100,100,.25);
    transform: rotate(2deg);
}
ul.fotos img{
    display: block;
    width: 250px;
    height: 150px;
    margin-bottom: 12px;
}
ul.fotos a::after{
    content:attr(title);
}
ul.fotos li:nth-child(3n) a{
    transform: none;
    position: relative;
    top: -5px;
}
ul.fotos li:nth-child(5n) a{
    transform: rotate(-5deg);
    position: relative;
    top: -5px;
}
ul.fotos li a:hover{
    transform: scale(1.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    position: relative;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }