
body{
    margin: 0;
    padding: 0;
    background: #b7dace;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
 
  
}

#header{
padding: 2px 30px;
height: 50px;
width: 100%;
font-size: 10px;
background-color: #292727;
color: #fff;
}
.jumbotron{
    margin-top:  56px;
}
.sta{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
#header .logo1{
    width: 40px;
    height: 40px;
    border-radius: 10%;
    left: 40px;
    position: -webkit-sticky;
}

 

#caja_master{
width: 320px;
height: 420px;
background: #555;
color:#fff;
top: 350px;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
border-radius: 15px;
border: 5px outset #292727;  /* Grosor del Borde */  /* Color del Borde */
text-shadow: -1px -1px #292727;
}
#caja_master .icono{
width: 200px;
height: 60px;
border-radius: 10%;
position: absolute;
top: -25px;
left: calc('width'/2);
right: 70px;
}
#caja_master h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

#caja_master label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}


#caja_master input{
    width: 100%;
    margin-bottom: 20px;
}
#caja_master input[type="text"],
#caja_master input[type="password"]{
    border: none;
    border-bottom: 1px solid #b7dace;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(247, 241, 241);
    font-size: 16px;
}

#caja_master input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b7dace;
    color: rgb(49, 59, 155);
    font-size: 16px;
    border-radius: 10px;
    top: 50;
}

#caja_master a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(212, 212, 212);
}



footer {
    background-color: rgb(43, 51, 51);

    bottom: 0;
    width: 100%;
    height: 20px;
    color: rgb(255, 255, 255);
    text-align: center;

    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
 }

